{% extends 'app_cuentas/base.html' %}

{% block title %}Usuarios{% endblock %}

{% block content %}
<style>
    .nav {
        height: 60px;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            border-bottom: 1px solid #e5e7eb;
    }
</style>

<div class="nav">
<h1>Usuarios</h1>
<a class="agregar_usu" href="{% url 'agregar_usuario' %}">Agregar usuarios</a>
</div><br><br>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    th, td {
        padding: 12px;
        text-align: left;
        border: 1px solid #e5e7eb;
    }
    th {
        background-color: #f2f2f2;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    tr:hover {
        background-color: #f1f1f1;
    }

    .btn_habilitar button {
        background-color: #4CAF50;
        color: white;
        border-radius: 30px;
        padding: 8px 16px;
        text-decoration: none;


    }

    .btn_eliminar button {
        background-color: #f44336;
        color: white;
        border-radius: 30px;
        padding: 8px 16px;
        text-decoration: none;


    }

    .ver_btn {
        background-color: #2563eb;
        color: white;
        border-radius: 30px;
        padding: 8px 16px;
        text-decoration: none;
    }

    .inp_buscar {
        padding: 8px;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .btn_buscar {
        padding: 8px 16px;
        background-color: #2563eb;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
.agregar_usu {
        background-color: #10b981;
        color: white;
        border-radius: 30px;
        padding: 10px 20px;
        text-decoration: none;
    }

</style>

<!-- Secccion de buscar -->
<form  method="get" action="{% url 'buscar_usuario' %}">
    <input class="inp_buscar" type="text" name="buscador_Users" placeholder="Buscar usuario..." value="{{ request.GET.buscador_Users }}">
    <button class="btn_buscar" type="submit">Buscar</button>
</form>

<table border="1" cellpadding="8">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for u in usuarios %}
        <tr>
            <td>{{ u.username }}</td>

            <td>
                {% if u.is_active %}
                    <span style="color: green;">Activo</span>
                {% else %}
                    <span style="color: red;">Inactivo</span>
                {% endif %}
            </td>

            <td>
                <a class="ver_btn" href="{% url 'ver_usuario' u.id %}">Ver</a>

                <form class="btn_habilitar" method="post"
                      action="{% url 'cambiar_estado_usuario' u.id %}"
                      style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">
                        {% if u.is_active %}
                            Desactivar
                        {% else %}
                            Activar
                        {% endif %}
                    </button>
                </form>


                <form class="btn_eliminar" method="get" action="{% url 'eliminar_usuario' u.id %}"
                style="display:inline;"
                >
                {% csrf_token %}
                    <button type="submit">Eliminar</button>
                    
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
